{#
/**
 * @file beer_style.html.twig
 * Default theme implementation to present Beer style data.
 *
 * This template is used when viewing Beer style pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_beer_style()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('beer_style') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
